 
.slider-width {
    width: 80% !important;
    max-width: 100%;
}

.slick-track img {
    margin: 0 auto;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left;
}

 
 /* slick-prev {
    position: absolute;
    left: 5% !important;
    top: 25%;
    z-index: 1;
    color: black;
}
.slick-next {
    position: absolute;
    right: 5% !important;
    top: 25%;
    z-index: 1;
} 
 */
 .slick-prev:before,
.slick-next:before {
    display: visible !important;
    color: black;
}
 

.carousel-width {
    max-width: 100%;
    width: 100%;
}
.carousel-width img {
    margin: 0 auto;
}
.slider-list {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 500px) {


    .center-twenties {
        position: fixed;
        top: 6%;
        margin: 0 auto;
        left: 10%;
        right: 0%;
        
    }


    .slick-track img {
        margin: 0 auto;
        width: 300px;
    }
    body {
        position: fixed;
    }
    img {
        z-index: 5;
    }
    .slick-slider {
        left: 0%;
        z-index: 1;
        position: fixed;
        max-width: 300px !important
    }
    .slick-prev:before,
    .slick-next:before {
    color: black;
    } 
    .slick-prev {
        position: fixed;
        left: 0% !important;
        top: 40%;
        z-index: 1;
        color: black;
        
    }
    .slick-next {
        position: fixed;
        right: 0% !important;
        top: 40%;
        z-index: 1;
    }
    iframe {
        width: 300px;
        height: 300px;
    }

}

iframe {
 width: 750px;
 height: 500px
}